<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--This is where we will put connectString into, then using DataAccess to access data from database-->
		<add name="PHAMDATDB" connectionString="Data Source=LAPTOPLANE;Initial Catalog=QUANLYDAILY;Integrated Security=True" />
		<add name="DUCDATDB" connectionString="Data Source=MSI\QUANLYDAILY;Initial Catalog=QUANLYDAILY;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="THANHDATDB" connectionString="Data Source=LAPTOP-QPLRUS8G\SQLEXPRESS;Initial Catalog=QUANLYDAILY;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="TRUNGDB" connectionString="Data Source=LAPTOP-AL90T1TG;Initial Catalog=TRUNGDB;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="MINHHOANGDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QUANLYDAILY;Integrated Security=True;TrustServerCertificate=True " providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
