<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--This is where we will put connectString into, then using DataAccess to access data from database-->
		<add name ="DAILYDUCDAT" connectionString="Data Source=MSI\QUANLYDAILY;Initial Catalog=QUANLYDAILY;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
